.model-info {
  thead, tbody {
    & > tr {
      background-color: #fff !important;
      border-bottom: 1px solid #f1f1f1;
    }

    tr {
      td {
        &.first {
          width: 250px;
        }

        &.nested {
          padding: 10px 0 !important;
        }
      }
    }
  }
}